version: 2.1
orbs:
  aws-s3: circleci/aws-s3@dev:<<pipeline.git.revision>>
  orb-tools: circleci/orb-tools@11.3
filters: &filters
  tags:
    only: /.*/
jobs:
  integration-test:
    parameters:
      executor:
        type: executor
    executor: <<parameters.executor>>
    steps:
      - checkout
      - run: mkdir bucket && echo "lorem ipsum" > bucket/build_asset.txt
      - aws-s3/sync:
          from: bucket
          to: "s3://orb-testing-1/s3-orb"
          role-arn: arn:aws:iam::122211685980:role/CPE_S3_OIDC_TEST
      - aws-s3/copy:
          from: bucket/build_asset.txt
          to: "s3://orb-testing-1"
          role-arn: arn:aws:iam::122211685980:role/CPE_S3_OIDC_TEST
          install-aws-cli: false
  # integration-test-2:
  #   docker:
  #     - image: cimg/base:stable
  #   steps:
  #     - checkout
  #     - run: mkdir bucket && echo "lorem ipsum" > bucket/build_asset.txt
  #     - aws-s3/sync:
  #         from: bucket
  #         to: "s3://orb-testing-1/s3-orb"
  #         role-arn: arn:aws:iam::122211685980:role/CPE_S3_OIDC_TEST
  #     - aws-s3/copy:
  #         from: bucket/build_asset.txt
  #         to: "s3://orb-testing-1"
  #         role-arn: arn:aws:iam::122211685980:role/CPE_S3_OIDC_TEST
  #         install-aws-cli: false
executors:
  alpine:
    docker: 
      - image: alpine:latest
  docker-base:
    docker:
      - image: cimg/base:stable
  windows:
    machine:
      image: windows-server-2019-vs2019:stable
    shell: bash.exe
    resource_class: windows.medium
  macos:
    macos:
      xcode: 14
workflows:
  test-deploy:
    jobs:
      # Make sure to include "filters: *filters" in every test job you want to run as part of your deployment.
      - integration-test:
          name: integration-test-<<matrix.executor>>
          context: [CPE-OIDC]
          filters: *filters
          matrix:
            parameters:
              executor: [ "alpine", "docker-base", "windows", "macos" ]
      # - integration-test-2:
      #     context: [CPE-OIDC]
      #     filters: *filters
      - orb-tools/pack:
          filters: *filters
      - orb-tools/publish:
          orb-name: circleci/aws-s3
          vcs-type: << pipeline.project.type >>
          pub-type: production
          requires:
            - orb-tools/pack
            - integration-test-alpine
            - integration-test-docker-base
            - integration-test-windows
            - integration-test-macos
            # - integration-test-2
          context: orb-publisher
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/
